# Ignore database runtime files
order-service/mysql/*.sock
order-service/mysql/*.cnf
order-service/mysql/*.pid
order-service/mysql/*.err
order-service/mysql/*.index
order-service/mysql/ib_*

# Ignore IDE & OS junk
.DS_Store
Thumbs.db

# Maven / Java
target/
*.log

# Node / NPM (if applicable)
node_modules/
